@using WebShop_OL_OASP_DEV_H_06_23.Services.Interfaces
@inject IProductService productService


@{
    ViewData["Title"] = "Index";

    var products = await productService.GetProductItems();
    var lastAddedProduct = products.OrderByDescending(y => y.Id).FirstOrDefault();
}

<div class="card text-center">
    <div class="card-header">
        DOBRO DOŠLI NA NAŠ WEBSHOP
    </div>
    <div class="card-body">
        <h5 class="card-title">Trgovina za specijalnu robu</h5>
        <p class="card-text">Pregledajte našu ponudu na dostupnom linku</p>
        @*  <a href="#" class="btn btn-primary">Link</a> *@
        @Html.ActionLink("Ja sam dostupni link", "Products", "Home", null, new { @class = "btn btn-primary" })
    </div>

    @if (lastAddedProduct != null)
    {
        <div class="card-footer text-muted">
            zadnje dodani proizvod je @lastAddedProduct.Name
            @*         @Html.ActionLink("Link", "Products", "Home", null, new { @class = "btn btn-primary" }) *@
        </div>
    }
</div>
